@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap')


#root
    width: 100vw
    min-height: 100vh

.app
    position: absolute
    top: 0
    left: 0
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: #2e3440


.login
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: #3b4252
    padding: 2rem
    border-radius: 1rem
    margin: auto

    button
        margin-top: 1rem
        width: 100%
        padding: 1rem

.navbar
    width: 100%
    background-color: #3b4252
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 3rem
    box-sizing: border-box
    align-self: flex-start

    button
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        gap: 0.5rem
        padding: 0.5rem

        img
            width: 2rem
            height: 2rem
            border-radius: 50%

.main
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start

    .error
        color: #bf616a
        font-size: 1.5rem
        margin: 1rem 0
        display: flex
        flex-direction: column

    .games
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 100%
        padding: 3rem
        box-sizing: border-box
        gap: 3rem

        .game
            width: 100%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: flex-start

            .game-nav
                width: 100%
                display: flex
                flex-direction: row
                align-items: center
                justify-content: space-between

                .game-selection
                    margin-right: auto

                .tooltip
                    color: #3b4252

            .output
                width: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                border-radius: 1rem
                border: solid #3b4252 1px
                padding: 1rem
                box-sizing: border-box

                .line
                    width: 100%
                    white-space: pre-wrap
                    font-family: 'Fira Code', 'Noto Color Emoji', monospace
                    white-space: pre-wrap

                    .input
                        background: transparent
                        outline: none
                        border: none
                        font-family: 'Fira Code', monospace
